[submodule "home/.janus/vim-powerline"]
	path = home/.janus/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "home/.janus/tabular"]
	path = home/.janus/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "home/.janus/vim-blockle"]
	path = home/.janus/vim-blockle
	url = https://github.com/jgdavey/vim-blockle
[submodule "home/.janus/zencoding-vim"]
	path = home/.janus/zencoding-vim
	url = http://github.com/mattn/zencoding-vim.git
[submodule "home/.janus/vim-ruby-refactoring"]
	path = home/.janus/vim-ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring
[submodule "home/.janus/vim-emblem"]
	path = home/.janus/vim-emblem
	url = https://github.com/heartsentwined/vim-emblem.git
