[submodule "home/.janus/vim-powerline"]
	path = home/.janus/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "home/.janus/tabular"]
	path = home/.janus/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "home/.janus/vim-blockle"]
	path = home/.janus/vim-blockle
	url = https://github.com/jgdavey/vim-blockle
