[submodule "home/.janus/tabular"]
  path = home/.janus/tabular
  url = git://github.com/godlygeek/tabular.git
[submodule "home/.janus/vim-blockle"]
  path = home/.janus/vim-blockle
  url = https://github.com/jgdavey/vim-blockle
[submodule "home/.janus/vim-ruby-refactoring"]
  path = home/.janus/vim-ruby-refactoring
  url = https://github.com/ecomba/vim-ruby-refactoring
[submodule "home/.janus/vim-emblem"]
  path = home/.janus/vim-emblem
  url = https://github.com/heartsentwined/vim-emblem.git
[submodule "home/.janus/vim-airline"]
  path = home/.janus/vim-airline
  url = https://github.com/bling/vim-airline.git
[submodule "home/.janus/emmet-vim"]
  path = home/.janus/emmet-vim
  url = https://github.com/mattn/emmet-vim.git
[submodule "home/.janus/smartest"]
  path = home/.janus/smartest
  url = https://github.com/kurko/smartest.vim
[submodule "home/.janus/vim-rbenv"]
  path = home/.janus/vim-rbenv
  url = https://github.com/tpope/vim-rbenv
[submodule "home/.janus/vim-elixir"]
  path = home/.janus/vim-elixir
  url = https://github.com/elixir-lang/vim-elixir.git
[submodule "home/.janus/elm-vim"]
	path = home/.janus/elm-vim
	url = https://github.com/ElmCast/elm-vim.git
