[user]
	name = 
	email = 
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
[core]
  editor = /usr/local/bin/vim
	excludesfile = /Users/patrick/.gitignore_global
[push]
  default = current
[alias]
  releasenotes = "!git log ${1}.. --pretty=format:'%h - %Cgreen%ad%Creset - %an: %C(bold white)%s%Creset' --grep=pivotal --date=short"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
