[user]
  name = Patrick Baselier
  email = patrick@kabisa.nl
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
[core]
  editor = /usr/local/bin/vim
[push]
  default = current
[alias]
  releasenotes = "!git log ${1}.. --pretty=format:'%h - %Cgreen%ad%Creset - %an: %C(bold white)%s%Creset' --grep=pivotal --date=short"
